article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, li, ul {
  margin: 0 auto;
  padding: 0px;
  text-align: center; }

.wrap {
  margin: 0 auto;
  height: 100%;
  width: 100%; }

.flex {
  display: flex;
  height: 100%; }

.grid {
  display: grid;
  height: 100%; }

body {
  background-color: black;
  color: white; }

#app {
  height: 100vh;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  font-size: 16px; }

.entry .flex {
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.entry {
  color: white; }

.entry h1 {
  font-size: 4.5vw;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1rem;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.603);
  -webkit-animation: flicker-1 5s linear infinite both;
  animation: flicker-1 5s linear infinite both;
  margin: 5vh; }

.entry img {
  margin: 5vh; }

.entry input {
  width: 200px;
  height: 90px;
  border: 3px;
  font-size: 2rem;
  text-transform: uppercase;
  background: black;
  color: white;
  border-style: dashed;
  font-family: "Press Start 2P", sans-serif;
  margin: 5vh; }

.signOut {
  position: absolute;
  right: 0px;
  top: 50px;
  z-index: 3; }

/* ----------------------------------------------
 * Generated by Animista on 2018-2-24 1:53:9
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flicker-4
 * ----------------------------------------
 */
@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1; }
  31.98% {
    opacity: 1;
    text-shadow: 2px 2px white; }
  32% {
    opacity: 0; }
  32.8% {
    opacity: 0; }
  32.82% {
    opacity: 1;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.007); }
  34.98% {
    opacity: 1;
    text-shadow: 2px 2px white; }
  35% {
    opacity: 0; }
  35.7% {
    opacity: 0; }
  35.72% {
    opacity: 1;
    text-shadow: -2px -2px white; }
  36.98% {
    opacity: 1;
    text-shadow: -2px -2px white; }
  37% {
    opacity: 0; }
  37.6% {
    opacity: 0; }
  37.62% {
    opacity: 1; }
  67.98% {
    opacity: 1; }
  68% {
    opacity: 0; }
  68.4% {
    opacity: 0; }
  68.42% {
    opacity: 1;
    text-shadow: 2px 2px white; }
  95.98% {
    opacity: 1; }
  96% {
    opacity: 0; }
  96.7% {
    opacity: 0; }
  96.72% {
    opacity: 1; }
  98.98% {
    opacity: 1; }
  99% {
    opacity: 0; }
  99.6% {
    opacity: 0; }
  99.62% {
    opacity: 1; } }

@-webkit-keyframes flicker-1 {
  0%,
  100% {
    opacity: 1; }
  31.98% {
    opacity: 1;
    text-shadow: 2px 2px white; }
  32% {
    opacity: 0; }
  32.8% {
    opacity: 0; }
  32.82% {
    opacity: 1;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.007); }
  34.98% {
    opacity: 1;
    text-shadow: 2px 2px white; }
  35% {
    opacity: 0; }
  35.7% {
    opacity: 0; }
  35.72% {
    opacity: 1;
    text-shadow: -2px -2px white; }
  36.98% {
    opacity: 1;
    text-shadow: -2px -2px white; }
  37% {
    opacity: 0; }
  37.6% {
    opacity: 0; }
  37.62% {
    opacity: 1; }
  67.98% {
    opacity: 1; }
  68% {
    opacity: 0; }
  68.4% {
    opacity: 0; }
  68.42% {
    opacity: 1;
    text-shadow: 2px 2px white; }
  95.98% {
    opacity: 1; }
  96% {
    opacity: 0; }
  96.7% {
    opacity: 0; }
  96.72% {
    opacity: 1; }
  98.98% {
    opacity: 1; }
  99% {
    opacity: 0; }
  99.6% {
    opacity: 0; }
  99.62% {
    opacity: 1; } }

.new {
  height: 100%;
  font-family: "Schoolbell", cursive;
  color: white; }

.new .flex {
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center; }

.new h1 {
  font-size: 4.5rem;
  -webkit-animation: flicker-2 5s linear infinite both;
  animation: flicker-2 linear infinite both;
  text-shadow: 1px 2px white; }

.new h2 {
  font-size: 3rem;
  -webkit-animation: flicker-2 linear infinite both;
  text-shadow: 10px 10px rgba(255, 255, 255, 0.144);
  animation: flicker-2 linear infinite both; }

@keyframes flicker-2 {
  0%,
  100% { }
  31.98% {
    opacity: 1;
    text-shadow: 10px 10px white; }
  32.82% {
    opacity: 1;
    text-shadow: 10px 10px rgba(255, 255, 255, 0.007); }
  34.98% {
    opacity: 1;
    text-shadow: 10px 10px white; }
  35.72% {
    opacity: 1;
    text-shadow: 10px 10px white; }
  36.98% {
    opacity: 1;
    text-shadow: 10px 10px white; }
  37.62% {
    opacity: 1;
    text-shadow: 10px 10px white; }
  67.98% {
    opacity: 1;
    text-shadow: -10px -10px white; }
  68.42% {
    opacity: 1;
    text-shadow: 10px 10px white;
    text-shadow: -10px -10px white; } }

.new form {
  height: 50vh;
  font-family: "Press Start 2P", sans-serif; }

.new form .flex {
  justify-content: space-around; }

.nameButton {
  height: 50px; }

.nameInput {
  height: 100px;
  border: none;
  color: black;
  background-color: white;
  padding: 2.5px;
  line-height: 1.5rem;
  width: 500px;
  font-size: 3rem;
  text-align: center; }

.main {
  height: 100%; }

.mainpage {
  height: 100%; }

.mainpage .grid {
  grid-template-areas: "game" "user"; }

.game {
  grid-area: game;
  min-height: 400px;
  overflow: hidden;
  position: relative; }

.hide {
  display: none; }

.ghoul {
  position: absolute;
  left: 45%;
  top: 35%;
  height: 200px; }

.battery {
  position: absolute;
  left: 45%;
  top: 55%;
  width: 50px; }

.navigation {
  position: absolute;
  left: 50px;
  top: 100px;
  height: 150px;
  z-index: 2; }

.navigation .grid {
  grid-template-areas: " . moveForward . " "moveLeft middle moveRight" " . moveBack . ";
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr; }

.moveForward {
  grid-area: moveForward; }

.moveRight {
  grid-area: moveRight; }

.moveLeft {
  grid-area: moveLeft; }

.moveBack {
  grid-area: moveBack; }

.game .background {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center; }

.light {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .8;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 247, 138, 0.1) 7%, rgba(255, 247, 138, 0.17) 11%, rgba(0, 0, 0, 0.71) 52%, rgba(0, 0, 0, 0.9) 66%, rgba(0, 0, 0, 0.9) 81%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(7%, rgba(255, 247, 138, 0.1)), color-stop(11%, rgba(255, 247, 138, 0.17)), color-stop(52%, rgba(0, 0, 0, 0.71)), color-stop(66%, rgba(0, 0, 0, 0.9)), color-stop(81%, rgba(0, 0, 0, 0.9)));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 247, 138, 0.1) 7%, rgba(255, 247, 138, 0.17) 11%, rgba(0, 0, 0, 0.71) 52%, rgba(0, 0, 0, 0.9) 66%, rgba(0, 0, 0, 0.9) 81%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 247, 138, 0.1) 7%, rgba(255, 247, 138, 0.17) 11%, rgba(0, 0, 0, 0.71) 52%, rgba(0, 0, 0, 0.9) 66%, rgba(0, 0, 0, 0.9) 81%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 247, 138, 0.1) 7%, rgba(255, 247, 138, 0.17) 11%, rgba(0, 0, 0, 0.71) 52%, rgba(0, 0, 0, 0.9) 66%, rgba(0, 0, 0, 0.9) 81%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, rgba(255, 247, 138, 0.1) 7%, rgba(255, 247, 138, 0.17) 11%, rgba(0, 0, 0, 0.71) 52%, rgba(0, 0, 0, 0.9) 66%, rgba(0, 0, 0, 0.9) 81%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF78A', endColorstr='#000000', GradientType=1);
  /* ie6-9 */ }

.dark {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .8;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.95) 53%, black 79%, black 100%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%, rgba(0, 0, 0, 0.9)), color-stop(53%, rgba(0, 0, 0, 0.95)), color-stop(79%, black), color-stop(100%, black));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.95) 53%, black 79%, black 100%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.95) 53%, black 79%, black 100%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.95) 53%, black 79%, black 100%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.95) 53%, black 79%, black 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1);
  /* ie6-9 */ }

.pain2 {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 0, 0, 0)), color-stop(23%, rgba(222, 0, 0, 0)), color-stop(56%, rgba(176, 0, 0, 0.73)), color-stop(68%, #710000), color-stop(90%, black));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=1 );
  /* ie6-9 */
  -webkit-animation: fade-out2 2s ease-out both;
  animation: fade-out2 2s ease-out both; }

@-webkit-keyframes fade-out2 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-out2 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.pain {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 0, 0, 0)), color-stop(23%, rgba(222, 0, 0, 0)), color-stop(56%, rgba(176, 0, 0, 0.73)), color-stop(68%, #710000), color-stop(90%, black));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, rgba(255, 0, 0, 0) 0%, rgba(222, 0, 0, 0) 23%, rgba(176, 0, 0, 0.73) 56%, #710000 68%, black 90%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=1 );
  /* ie6-9 */
  -webkit-animation: fade-out 2s ease-out both;
  animation: fade-out 2s ease-out both; }

/* ----------------------------------------------
 * Generated by Animista on 2018-2-26 15:9:46
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fine {
  height: 100%;
  width: 100%;
  position: absolute; }

.location1 {
  background-image: url("../../background1.png"); }

.location2 {
  background-image: url("../../background2.png"); }

.location3 {
  background-image: url("../../office.png"); }

.location4 {
  background-image: url("../../Locationx1y3.png"); }

.location5 {
  background-image: url("../../background3.png"); }

.location6 {
  background-image: url("../../background4.png"); }

.location7 {
  background-image: url("../../forest.png"); }

.statsBox {
  color: white;
  font-family: "Press Start 2P", sans-serif;
  text-transform: uppercase; }

.user .flex {
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.flashlight {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  grid-area: flashlight; }

.flashlight img {
  height: 120px;
  transform: rotate(0.5turn); }

.batteryLife :last-child {
  margin-bottom: 5px; }

.batteryLife {
  height: 80px;
  background-color: #cccccc12;
  width: 45px;
  margin: 5px;
  border-style: 3px dashed #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

.powerLevel {
  width: 80%;
  background-color: green;
  margin-top: 5px;
  height: calc(25% - 5px); }

.lowBattery {
  background-color: red; }

.noBattery {
  background-color: #444444; }

.user button {
  text-align: center; }

.user h2 {
  font-family: "Press Start 2P", sans-serif;
  margin: auto; }

.user .grid {
  display: grid;
  grid-template-areas: " . . . . . " " . name life flashlight battery" " . button heart flashlight battery";
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  height: 70%;
  margin: auto;
  grid-auto-columns: 0% 10% 10% 40% 10%; }

.characterName {
  grid-area: name;
  font-size: 2rem;
  text-align: center; }

.user .grid input {
  grid-area: button; }

.user .grid img {
  grid-area: heart;
  margin: auto; }

.health {
  grid-area: life;
  font-size: 1.4rem; }

.batteries {
  grid-area: battery; }

.batteries img {
  margin-top: 15px; }

.batteries h2 {
  width: 90px;
  margin: 15px auto; }

.user {
  grid-area: user;
  background-color: #1f202b; }

.user .flex {
  align-items: center;
  justify-content: space-around; }

button {
  min-height: 50px;
  min-width: 50px;
  color: white;
  background-color: black;
  font-family: "Press Start 2P", sans-serif; }

button:disabled {
  color: #949393;
  background-color: #1e1e1f; }

@media (max-width: 1067px) {
  #app {
    width: 90%; }
  .entry h1 {
    font-size: 4vw; } }

@media (max-width: 850px) {
  #app {
    width: 100%; }
  .navigation {
    top: 50px; }
  .signOut {
    bottom: 50px;
    height: 50px;
    top: auto;
    right: 10px; } }

@media (max-width: 750px) {
  .game {
    height: 300px; }
  .user {
    height: 200px; }
  .user .grid {
    grid-template-areas: " . . . . " " . name life flashlight"  " . battery heart flashlight";
    grid-auto-columns: 0% 10% 10% 40%; }
  .signOut {
    right: 30px; } }

@media (max-width: 650px) {
  .game {
    width: 550px; } }

@media (max-width: 550px) {
  .game {
    width: 450px; }
  .flashlight {
    flex-direction: column;
    height: auto;
    align-items: flex-start; }
  .user .grid {
    grid-row-gap: 0px;
    grid-template-areas: " . . . " " name life flashlight" " battery heart flashlight";
    grid-auto-columns: 10% 10% 40%; }
  .batteryLife {
    transform: rotate(0.25turn);
    align-self: center;
    margin-top: -25px; }
  .flashlight {
    width: 100px; }
  .flashlight img {
    padding: 5px; }
  .signOut {
    right: 0px; }
  .navigation {
    bottom: 50px;
    top: auto;
    left: auto; }
  .battery {
    position: absolute;
    left: 50%;
    top: 20%; } }
